{% extends "base.html" %}

{% block content %}

<h1>File Information</h1>
<h2><small>{{ object.slug }}</small></h2>

<h3>Properties</h3>

<table class="table table-striped">
    {% for prop in properties %}
    <tr>
        <td>
            <strong>{{ prop.0 }}</strong>
        </td>
        <td>
            {{ prop.1 }}
        </td>
    </tr>
    {% endfor %}
</table>

{% block available_analyses %}
{% endblock %}

{% endblock %}
