{% extends "base.html" %}

{% block title %} - Analysis{% endblock %}

{% block content %}
<h1>View and Manage Data{% block title_additions %}{% endblock %}</h1>
<p class="lead">Choose from recently uploaded files {% block subtitle_additions %}{% endblock %}</p>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}

<div class="row display-table">
    <div class="col-md-7 display-cell">
        <h3>Recent data files</h3>
    </div>
    <div class="col-md-1 display-cell">
        <a href="{% url 'data:index' %}" class="btn btn-default{% block all_active %}{% endblock %}" role="button">All files</a>
    </div>
    <div class="col-md-1 display-cell">
        <a href="{% url 'data:MS1' %}" class="btn btn-warning{% block ms1_active %}{% endblock %}" role="button">MS1 files</a>
    </div>
    <div class="col-md-1 display-cell">
        <a href="{% url 'data:MS2' %}" class="btn btn-warning{% block ms2_active %}{% endblock %}" role="button">MS2 files</a>
    </div>
    <div class="col-md-1 display-cell">
        <a href="{% url 'data:SQT' %}" class="btn btn-warning{% block sqt_active %}{% endblock %}" role="button">SQT files</a>
    </div>
    <div class="col-md-1 display-cell">
        <a href="{% url 'data:DTA' %}" class="btn btn-warning{% block dta_active %}{% endblock %}" role="button">DTASelect files</a>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-center">File Name</th> <!-- slug -->
            <th class="text-center">File Type</th> <!-- file_type -->
            <th class="text-center">Description</th> <!-- description -->
            <th class="text-center">Last Modified</th> <!-- last_modified -->
            <th class="text-center"></th> <!-- view button -->
            <th class="text-center"></th> <!-- edit button -->
            <th class="text-center"></th> <!-- delete button -->
        </tr>
    </thead>
    {% if object_list %}
    {% for document in object_list %}
    <tr>
        <td class="text-center">
            <a href="{{ document.docfile.url }}">{{ document.slug }}</a>
        </td>
        <td class="text-center">{{ document.file_type }}</td>
        <td class="text-center">{{ document.description }}</td>
        <td class="text-center">{{ document.last_modified|timesince}}</td>
        <td class="text-center">
            <a href="{% if document.file_type == 'DTA' %}
                        {% url 'data:DTA-detail' document.id %}
                    {% elif document.file_type == 'SQT' %}
                        {% url 'data:SQT-detail' document.id %}
                    {% elif document.file_type == 'MS1' %}
                        {% url 'data:MS1-detail' document.id %}
                    {% elif document.file_type == 'MS2' %}
                        {% url 'data:MS2-detail' document.id %}
                    {% endif %}"><button type="button" class="btn btn-success btn-sm">View</button></a>
        </td>
        <td class="text-center">
            <a href=""><button type="button" class="btn btn-primary btn-sm">Edit</button></a>
        </td>
        <td class="text-center">
            <a href="{% url 'data:delete' document.id %}"><button type="button" class="btn btn-danger btn-sm">Delete</button></a>
        </td>
    {% endfor %}
    {% else %}
    <tr>
        <td class="text-center danger">No documents to display</td>
    </tr>
    {% endif %}
</table>

<br>

{% block upload_block %}
{% endblock %}

{% endblock %}
