{% extends "base.html" %}

{% block title %} - Confirm File Deletion {% endblock %}

{% block content %}
<h1>Delete file?</h1>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}

<!-- Confirm Document Delete -->
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>Are you sure you want to permanently delete file "{{ object }}"?</p>
    <p><input type="submit" value="Confirm" class="btn btn-danger" /></p>
</form>
        
{% endblock %}
