{% extends "data/document_base.html" %}

{% block all_active %} active{% endblock %}

{% block subtitle_additions %}or upload a new file below{% endblock %}

{% block upload_block %}
<h3>Upload new file</h3>
    <div class="row">
        <div class="col-md-6">
        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url "data:index" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
        {{ form.non_field_errors }}
<!--            <p>
                {{ form.docfile.label_tag }}
            </p>-->
            <p>
                {{ form.docfile.help_text }}
            </p>
            <p>
                {{ form.docfile.errors }}
            </p>
            <div class="form-group">
                <label for="id_docfile">File input</label>
                <span class="form-control">{{ form.docfile }}</span>
                <p class="help-block">Allowed file types: MS1, MS2, SQT, DTASelect-filter.txt</p>
            </div>
            <div class="form-group">
                <label for="{{ form.file_type.auto_id }}">File type</label>
                <span class="form-control">{{ form.file_type }}</span>
            </div>
            {{ form.last_modified }} <!-- hidden -->
            <div class="form-group">
                <label for="{{ form.description.auto_id }}">Description</label>
                <textarea class="form-control" rows="3" placeholder="Enter a concise description of the file" \
                    id="{{ form.description.auto_id }}" name="{{ form.description.html_name }}" maxlength="500"></textarea>
            </div>
            </p>
            <p><input type="submit" value="Upload" class="btn btn-warning btn-lg" /></p>
        </form>
        </div>
    </div>

{% endblock %}
