{% extends 'base.html' %}

{% block content %}

<h3>Parsed file <strong>{{ document.docfile.url }}</strong> (Document ID {{ document.id }})</h3>

<p>
    <h3><small>Parsed file JSON output saved to {{ dtafile_parsed_file }} </small></h3>
</p>

<a href="{% url 'data:DTA-detail' document.id %}" class="btn btn-success">Go back</a>

{% endblock %}
