{% extends "base.html" %}

{% block title %} - Main Page{% endblock %}

{% block content %}
<h1>Metaprot</h1>
<p class="lead">a collection of tools for metaproteomic data analysis</p>

<div class="row">
  <div class="col-md-3 text-center">
    <a href="search" class="btn btn-default btn-lg">
      &nbsp;<span class="glyphicon glyphicon-search" aria-hidden="true" style="vertical-align:-1px"></span>&nbsp;&nbsp;&nbsp;Search ComPIL&nbsp;
    </a>
  </div>
  <div class="col-md-3 text-center">
    <a href="build" class="btn btn-default btn-lg">
      &nbsp;<span class="glyphicon glyphicon-cloud-upload" aria-hidden="true" style="vertical-align:-1px"></span>&nbsp;&nbsp;&nbsp;Build ComPIL&nbsp;
    </a>
  </div>
  <div class="col-md-3 text-center">
    <a href="{% url 'data:index' %}" class="btn btn-default btn-lg">
      &nbsp;<span class="glyphicon glyphicon-th-list" aria-hidden="true" style="vertical-align:-1px"></span>&nbsp;&nbsp;&nbsp;View Data&nbsp;
    </a>
  </div>
  <div class="col-md-3 text-center">
    <a href="{% url 'analysis:index' %}" class="btn btn-default btn-lg">
      &nbsp;<span class="glyphicon glyphicon-equalizer" aria-hidden="true" style="vertical-align:-1px"></span>&nbsp;&nbsp;&nbsp;Analyze Data&nbsp;
    </a>
  </div>
</div>
{% endblock %}
