{% extends "base.html" %}

{% block title %} - Analysis{% endblock %}

{% block head_additions %}
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-0.9.1.min.css"
    rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

<h1>Analyze Data{% block title_additions %}{% endblock %}</h1>
<p class="lead">Choose from available analyses{% block subtitle_additions %}{% endblock %}</p>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}

<div class="row display-table">
    <div class="col-md-7 display-cell">
        <h3>Recent data files</h3>
    </div>
    <div class="col-md-1 display-cell">
        <a href="{% url 'data:index' %}" class="btn btn-default{% block all_active %}{% endblock %}" role="button">All files</a>
    </div>
    <div class="col-md-1 display-cell">
        <a href="{% url 'data:MS1' %}" class="btn btn-warning{% block ms1_active %}{% endblock %}" role="button">MS1 files</a>
    </div>
    <div class="col-md-1 display-cell">
        <a href="{% url 'data:MS2' %}" class="btn btn-warning{% block ms2_active %}{% endblock %}" role="button">MS2 files</a>
    </div>
    <div class="col-md-1 display-cell">
        <a href="{% url 'data:SQT' %}" class="btn btn-warning{% block sqt_active %}{% endblock %}" role="button">SQT files</a>
    </div>
    <div class="col-md-1 display-cell">
        <a href="{% url 'data:DTA' %}" class="btn btn-warning{% block dta_active %}{% endblock %}" role="button">DTASelect files</a>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-center">Analysis Name</th> <!-- name -->
            <th class="text-center">Description</th> <!-- description -->
            <th class="text-center">File Type Supported</th> <!-- file_type -->
            <th class="text-center">Last Modified</th> <!-- last_modified -->
        </tr>
    </thead>
    {% if object_list %}
    {% for plot_obj in object_list %}
    <tr>
        <td class="text-center">
            {{ plot_obj.name }}
        </td>
        <td class="text-center">
            {{ plot_obj.description }}
        </td>
        <td class="text-center">
            {{ plot_obj.supported_file_type }}
        </td>
        <td class="text-center">
            {{ plot_obj.last_modified }}
        </td>
    </tr>
    {% endfor %}
    {% endif %}
</table>

{% block embed_bokeh_js %}<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.9.1.min.js">{% endblock %}

{% endblock %}
