{% extends "base.html" %}

{% block title %} - Database Status{% endblock %}

{% block content %}
<h1>Database Status</h1>

{% if messages %}
{% for message in messages %}
    <div class="alert alert-info" role="alert">{{ message }}</div>
{% endfor %}
{% else %}
    <form action="{% url 'dbstats:status' %}" method="post">
        {% csrf_token %}
        <input class="btn btn-primary btn-lg" type="submit" value="Refresh Server Status" />
    </form>
{% endif %}

<h2>Database nodes (Microcloud)</h2>

<table class="table">
<tr>
    <td class="text-center">Database node</td>
    <td class="text-center">Free space</td>
    <td class="text-center">Available</td>
    <td class="text-center">Status last updated</td>
</tr>
{% for db_node in microcloud %}
    {% if db_node.available %}
        <tr>
    {% else %}
        <tr class="danger">
    {% endif %}
        <td class="text-center">{{ db_node.hostname }}</td>
        <td class="text-center">{{ db_node.free_space }}</td>
        <td class="text-center">{{ db_node.available|yesno }}</td>
        <td class="text-center">{{ db_node.last_updated|timesince }} ago</td>
    </tr>
{% endfor %}
</table>

<h2>Query routers (mongos on Garibaldi)</h2>
<table class="table">
<tr>
    <td class="text-center">Database node</td>
    <td class="text-center">Available</td>
    <td class="text-center">Status last updated</td>
</tr>
{% for db_node in mongos_nodes %}
    {% if db_node.available %}
        <tr>
    {% else %}
        <tr class="danger">
    {% endif %}
        <td class="text-center">{{ db_node.hostname }}</td>
        <td class="text-center">{{ db_node.available|yesno }}</td>
        <td class="text-center">{{ db_node.last_updated|timesince }} ago</td>
    </tr>
{% endfor %}
</table>

{% endblock %}
